{% extends 'checkerapp/course_content.html' %}
{% load xchk_instructions %}
{% load static %}
{% block course_content %}
<ul>
<li>shortcuts dienen om commands uit te voeren</li>
<li>commands kunnen uitgetypt worden</li>
<li>
shortcut voor command mode is <code>prefix-:</code><ul>
<li>kan dan bv. <code>new-window -n mijnvenster</code> typen</li>
<li>demo: <img src="{% static "xchk_tmux_content/images/ce6d30d4d28a40068f5de7ee521c0c54" %}" alt="command-mode.gif"></img></li>
</ul>
</li>
</ul>

{% endblock course_content %}