{% extends 'checkerapp/course_content.html' %}
{% load xchk_instructions %}
{% load static %}
{% block course_content %}
<ul>
<li>kan na <code>new-session</code> of na <code>split-window</code> of gelijkaardig commando ook uit te voeren command meegeven</li>
<li>koppelt levensduur van het venster in kwestie aan de uitvoeringstijd van het commando, i.e. pane of venster sluit als het commando eindigt</li>
<li><img src="{% static "xchk_tmux_content/images/2154f7fa30dc4c7ea48b8f1066e16d7e" %}" alt="Screenshot from 2020-09-05 16-47-38.png"></img></li>
</ul>

{% endblock course_content %}